<div class='col-sm-6 col-lg-4'>
  <div class="card">
    <div class="card-topper">
    	<%= image_tag post.image.url(:medium) %>
    </div>
    <div class="card-block">
      <h4 class="card-title"><%= link_to post.name, post %></h4>
      <h6 class="published-date"><%= post.display_day_published %></h6>
      <p class="card-text"><%= truncate(post.content, length: 130) %></p>
      <%= link_to 'Read', post, class: 'btn btn-read' %>
    </div>
  </div>
</div>