<% provide(:page_title, @post.name) %>
<% provide(:blog_active, 'active') %>

<% if @post.owner?(current_author) %>
  <div>
    <%= link_to "Edit", edit_authors_post_path(@post), class: 'btn btn-sm btn-warning' %>
    <%= link_to "Remove", authors_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if !@post.image.nil? %>
      <div class="text-center">
        <%= image_tag @post.image.url(:medium), class: "post-image" %>
      </div>
    <% end %>
    <hr>
    <h1 class="text-center"><b><%= @post.name %></b></h1>
    <hr>
    <p class="publish"><%= @post.display_day_published %></p>
    <%= @post.content.html_safe %>
    <hr>
  </div>

  <div class="col-md-12" id='commment'>
    <%= render "blog/comments/form" %>
  </div>

  <div class="col-md-12" id='comments'>
    <%= render @post.comments.desc %>
  </div>
</div>

